<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
   
</head>
<body>
    <header class="header">
        <div class="left">
            <!-- for logo -->
            <img src="~/log.png" alt="">
            <div>Agricuture</div>
        </div>
        <div class="middle">
            <!-- mid for nav bar -->
            <ul class="navbar">
                <li><a href="#" class="Active">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Process</a></li>
                <li><a href="#">Landing</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="right">
            <!-- for buttons -->
            <button class="btn">Call us now</button>
            <button class="btn">Email us</button>
        </div>
    </header>
    <div class="container">
        <img src="bck.jpg" alt="gg">
        <p>vjhvvvvvv</p>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApplication1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>